@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@font-face {
    font-family: 'valoran';
    src: url(fontes/Valorant\ Font.ttf)
    format('truetype');
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    color: rgb(252, 252, 252);
}

body::-webkit-scrollbar
{
    width: 3px;
    background: transparent;

}


body::-webkit-scrollbar-thumb
{
    border-radius: 1px;
    background: black;
    background: linear-gradient(to top, #ee7752, #e73c7e, #23a6d5, #7F00FD) no-repeat;
    background-size:  300% 300%;
    animation: bacgradient 5s linear alternate infinite;
}


.nome{
    height: 90vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #7F00FD) no-repeat;
    background-size:  300% 300%;
    border-radius: 0px 0px 10px 10px;
    font-family: valoran, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.445);
    position: relative;
    transition: .4s;
    animation: bacgradient 5s linear alternate infinite;
   
}

@keyframes bacgradient
{
    to
    {
        background-position: 100% 50%;
    }

}

.caixa-de-img
{
    width: 300px;
    height: auto;
    background: #006199;
    border-radius: 50%;
    box-shadow: 0px 24px 74px rgba(0, 0, 0, 0.356);
    animation: reveal 2.5s forwards ;
}

.caixa-de-img img
{
    width: 100%;
    height: 100%;
}

.mnome{ 
    text-align: center;
    width: 45vmax;
    font-size: 32px;
    margin-top: 32px; 
    text-anchor: start;
    animation: reveal 2s forwards ;
}

.mnome span
{
    margin-top: 5px;
    display: block;
    font-size: 20px;

    animation: reveal 2s forwards ;
    animation-delay: .8s;
    transform: translateY(45px);
    opacity: 0;
}

@keyframes reveal
{
    0%
    {
        transform: translateY(45px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}


#cima{
    background-color: transparent;
    border: none;
    margin-top: 30px;
}




.contatos{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}


.links{
    
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: 45vw;
    margin: 10px;
    padding: 10px;
    border-radius: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;

}
.links p{
    padding-left: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a#fb{
    transition-duration: .4s;
}

a#fb:hover{
    color: white;
    font-weight: bold;
    background-color: rgb(51, 51, 201);
    border: 1px solid white;
}

a#insta{
    transition-duration: .5s;
}

a#insta:hover{
    color: white;
    font-weight: bold;
   background-image: linear-gradient(to left,#5659A8,#EF444C,#FCBB57,#FDD373);
   border: 1px solid white;
}

a#link{
    transition:  .5s ease-in-out;
}

a#link:hover{
    color: white;
    font-weight: bold;
    background-color: #006199;
   border: 1px solid white;
}

a#zap{
    transition-duration: .5s;
}

a#zap:hover{
    color: white;
    font-weight: bold;
   background-color: #2EC84E;
   border: 1px solid white;
}


a#tg{
    transition-duration: .5s;
}

a#tg:hover{
    color: white;
    font-weight: bold;
   background-color: #0190C3;
   border: 1px solid white;
}



a#em{
    transition-duration: .5s;
}

a#em:hover{
    color: white;
    font-weight: bold;
   background-color: #D44136;
   border: 1px solid white;
}

ion-icon#cima{
    color: black;
    font-size: 3em;
    transition: .4s;
    animation: kikando 1s ease-in alternate infinite;
}

@keyframes kikando
{
    0%
    {
        transform: translateY(0px);
    }

    0%
    {
        transform: translateY(-7px);
    }
}



ion-icon#baixo{
    margin-top: 70px;
    margin-bottom: 0;
    bottom: 10px;
    font-size: 3em;
    transition: .4s;
    animation: kikando 1s ease-out alternate infinite;
}

@keyframes kikando
{
    0%
    {
        transform: translateY(0px);
    }

    0%
    {
        transform: translateY(7px);
    }
}

@media screen and (max-width: 773px) 
{
    .caixa-de-img
    {
        width: 250px;
    }
    .mnome
    {
        font-size: 22px; 
    }

    .mnome span
{
   
    font-size: 18px;
}

.links p{
    padding-left: 15px;
}

.links{
    
    
    border: 1px solid rgb(0, 0, 0);
    width: 60vw;
   
}
}